@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {font-family: 'Open Sans', sans-serif; font-size: 14px; padding: 0; margin: 0; padding-top: 50px;}

.wrapper{margin: 0 auto; position: relative;}

.header{top: 0; padding: 5px 15px 2px 15px; border-bottom: 1px solid #ccc; position: fixed; z-index: 9999; width: 100%; background: #ffffff; }
.logoContainer{float: left; width: 90px;}

.footer{height: 40px; position: fixed; bottom: 0; width: 100%; text-align: center; line-height: 40px; background: #333; color: #fff;}
.mainContainer{margin-bottom: 60px;}
.pageTitle{padding: 5px 15px; border-bottom: 1px solid #ccc;}
.pageTitle h2{line-height: 20px; margin: 10px 0;}

.subTitle{}
.subTitle ul {list-style: none; padding: 0; margin: 0;}
.subTitle ul li {border-bottom: 1px solid #ccc; }
.subTitle ul li:hover{background: #f2f2f2;}
.subTitle ul li a{padding: 10px 15px; padding-right: 50px; display: block; text-decoration: none; color: #333; background: url("images/right-arrow.png"); background-repeat: no-repeat; background-position: right 15px top 50%;}
/*.subTitle ul li a span{float: right; font-size: 24px; line-height: 14px; margin-right: -30px;}*/
/*.subTitle ul li a span{float: right; margin-right: -40px; background: url("images/right-arrow.png") top; padding: 12px; }*/
/*.subTitle ul li a:hover{background: #f2f2f2;}*/

.questionsOuterDiv{}
button.accordion {background-color: #fff; font-family: 'Open Sans', sans-serif; font-weight: bold; cursor: pointer; padding: 10px 15px 10px 35px; width: 100%; text-align: left; outline: none; border: none;border-bottom: 1px solid #ccc; transition: 0.4s;}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {background-color: #f2f2f2; }

button.accordion {background: url("images/right-inner-arrow.png"); background-repeat: no-repeat; background-position: left 10px top 10px;}

button.accordion.active {
    background:#f2f2f2 url("images/down-arrow.png"); background-repeat: no-repeat; background-position: left 10px top 10px;
    transition: 0.4s;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {padding: 0 18px; font-family: 'Open Sans', sans-serif; border-bottom: 1px solid #ccc; background-color: white; display: none;}
div.panel ul{padding-left: 20px; margin-top: 5px;}
div.panel ol{padding-left: 20px; margin-top: 5px;}
div.panel ol li {line-height: 22px; margin-bottom: 5px;}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {display: block;}